.search-icon {
  height: 100%;
  pointer-events: none;
  color: black;
}

.search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  margin-left: 0;
  width: 25%;
}

.input-search {
  width: 50%;
}

.app-bar {
  background-color: black !important;
}

.tool-bar {
  display: flex !important;
  justify-content: space-between;
}

p {
  text-align: center;
}

.clear {
  width: 100%;
  margin-top: 1% !important;
  margin-bottom: 1% !important;
}
